<h1 mat-dialog-title>Add new item</h1>
<div mat-dialog-content>
  <form class="example-form">

    <mat-form-field appearance="fill">
      <mat-label>Currency name</mat-label>
      <mat-select name="item" [(ngModel)]="item.name">
        <mat-option *ngFor="let currency of currencies |async as currencies" [value]="currency.currencyName">
          {{currency.currencyName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field #number class="modal-input" appearance="fill">
      <mat-label>Price in USD</mat-label>
      <input type="number" matInput placeholder="ex: 35.93"  [(ngModel)]="item.price" name="price">
    </mat-form-field>

    <mat-form-field #number class="modal-input" appearance="fill">
      <mat-label>Quantity coin</mat-label>
      <input type="number" matInput placeholder="ex: 0.0001"  [(ngModel)]="item.quantity" name="quantity">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select name="category" [(ngModel)]="item.category">
        <mat-option *ngFor="let category of categories" [value]="category.viewValue">
          {{category.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
  <div class="button-container">
    <button class="modal-button" (click)="createNewItem()" mat-button color="primary" mat-dialog-close>Save</button>
    <button class="modal-button" mat-button color="warn" mat-dialog-close>Close</button>
  </div>

</div>
