table {
  width: 100%;
}
mat-toolbar {
  display:flex;
}

.loading-spinner{
  padding:2rem;
  display:flex;
  justify-content: center;
  background:rgba(0,0,0,0.15);
}
.new-item-button-div{
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.caution-button{
  background-color:#fec106;
}
