table {
  width: 100%;
}
mat-toolbar {
  display:flex;
}
.table-title{
  position: absolute;
border: 5px solid #FFFF00;
}
.loading-spinner{
  padding:2rem;
  display:flex;
  justify-content: center;
  background:rgba(0,0,0,0.15);
}
